@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Importa a fonte 'Lato' do Google Fonts com diferentes pesos e estilos */

body {
    background-color: rgb(0, 0, 0); /* Define a cor de fundo da página */
    font-family: "Lato", sans-serif; /* Define a fonte principal da página */
}

.caixa-pesquisa {
    text-align: center; /* Centraliza os elementos dentro da seção */
}

.caixa-pesquisa section input, 
.caixa-pesquisa section button {
    display: inline-block; /* Alinha os elementos (input e botão) lado a lado */
}

h1 {
    font-family: "Lato", sans-serif; /* Define a fonte para o título principal */
    font-weight: 900; /* Aplica negrito ao texto */
    font-style: normal; /* Define o estilo da fonte como normal */
    margin-bottom: 1rem; /* Adiciona espaço abaixo do título */
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #d31453; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Define o espaçamento entre letras */
}

section input {
    width: 30rem; /* Define a largura dos inputs */
    border: solid 1px; /* Define a borda dos inputs */
    padding: 1rem; /* Espaçamento interno dos inputs */
    border-radius: 1.0rem; /* Arredonda as bordas dos inputs */
    margin-bottom: 0.8rem; /* Espaçamento abaixo dos inputs */
    color: #f30554; /* Cor do texto nos inputs */
    font-size: 1rem; /* Tamanho da fonte dos inputs */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    margin-bottom: 1rem; /* Espaçamento abaixo do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 1.0rem; /* Arredonda as bordas do botão */
    background-color: #f30554; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte do botão */
    cursor: pointer; /* Define o cursor como "pointer" ao passar sobre o botão */
}

section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao botão */
}

.item-resultado {
    background: #1A1A1A; /* Define a cor de fundo dos itens de resultado */
    border-radius: 0.6rem; /* Arredonda as bordas dos itens */
    padding: 1rem; /* Espaçamento interno dos itens */
    margin-left: 2rem; /* Espaçamento à esquerda dos itens */
    margin-right: 2rem; /* Espaçamento à direita dos itens */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(39, 39, 38, 0.6); /* Adiciona uma sombra leve aos itens */
}

.item-resultado h2 {
    font-family: "Lato", sans-serif; /* Define a fonte para os títulos dos itens */
    font-weight: 900; /* Aplica negrito ao título dos itens */
    font-style: normal; /* Define o estilo da fonte como normal */
    font-size: 1.3rem; /* Tamanho da fonte do título */
    text-transform: uppercase; /* Converte o texto do título para maiúsculas */
    color: #b92fdb; /* Cor do texto do título */
    padding-bottom: 0.4rem; /* Espaçamento abaixo do título */
}

.item-resultado h3 {
    font-family: "Lato", sans-serif; /* Define a fonte para subtítulos */
    font-weight: 900; /* Aplica negrito ao subtítulo */
    font-style: oblique; /* Define o estilo da fonte como oblíquo */
    font-size: 1.1rem; /* Tamanho da fonte do subtítulo */
    color: #ff0651; /* Cor do texto do subtítulo */
    padding-bottom: 0.3rem; /* Espaçamento abaixo do subtítulo */
}

.item-resultado h4 {
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    color: #d5e409; /* Define a cor do texto */
    padding-top: 0.3rem; /* Espaçamento acima do texto */
    padding-bottom: 0.9rem; /* Espaçamento abaixo do texto */
}

.item-resultado p {
    font-family: "Lato", sans-serif; /* Define a fonte para o parágrafo */
    font-weight: 400; /* Define o peso da fonte como normal */
    font-style: normal; /* Define o estilo da fonte como normal */
    font-size: 1.4rem; /* Tamanho da fonte do parágrafo */
    color: #ebebeb; /* Cor do texto do parágrafo */
}

.item-resultado strong {
    font-family: "Lato", sans-serif; /* Define a fonte para subtítulos */
    font-weight: 900; /* Aplica negrito ao subtítulo */
    font-style: oblique; /* Define o estilo da fonte como oblíquo */
    font-size: 1.1rem; /* Tamanho da fonte do subtítulo */
    color: #e2628d; /* Cor do texto do subtítulo */
    padding-bottom: 0.3rem; /* Espaçamento abaixo do subtítulo */
}

.item-resultado a {
    text-decoration: none; /* Remove a sublinhado dos links */
    font-family: "Lato", sans-serif; /* Define a fonte para os links */
    font-weight: 900; /* Aplica negrito ao texto do link */
    font-style: oblique; /* Define o estilo da fonte como oblíquo */
    font-size: 1rem; /* Tamanho da fonte do link */
    color: #ff4a4a; /* Cor do texto do link */
}

.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

footer {
    background-color: #131111; /* Cor de fundo do rodapé */
    color: #fffbfb; /* Cor do texto do rodapé */
    text-align: center; /* Alinha o texto do rodapé ao centro */
    padding: 10px; /* Espaçamento interno do rodapé */
    width: 100%; /* Largura total do rodapé */
    position: fixed; /* Define o posicionamento do rodapé */
    bottom: 0; /* Alinha o rodapé ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte do rodapé */
    font-family: "Lato", sans-serif; /* Define a fonte do rodapé */
    font-weight: 400; /* Define o peso da fonte como normal */
    font-style: normal; /* Define o estilo da fonte como normal */
}

/* Media query para tornar a caixa de pesquisa responsiva em dispositivos menores */
@media (max-width: 600px) {
    section input {
        width: 80%; /* Ajusta a largura do input em dispositivos menores */
    }
}


.resuldado-pesquisa {
    font-family: "Lato", sans-serif; /* Define a fonte para subtítulos */
    font-weight: 900; /* Aplica negrito ao subtítulo */
    font-style: oblique; /* Define o estilo da fonte como oblíquo */
    color: #bb013f; /* Cor do texto do subtítulo */
    padding-top: 0.3rem; /* Espaçamento abaixo do subtítulo */
  }
  